@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-foreground: var(--background);
  --color-background: var(--foreground);
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #ffffff;
    --foreground: #0a0a0a;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

footer{
  font-size: clamp(1.125rem, 2.25vw, 1.5rem);
}
nav {
  font-size: clamp(1rem, 1.75vw, 1.5rem);
  @apply text-gray-950;
}
.footer-header {
  font-size: clamp(1.75rem, 3vw, 2.25rem);
}
footer * li {
  @apply hover:text-cyan-300 hover:underline underline-offset-2;
}
nav * li {
  @apply hover:text-cyan-900 hover:underline underline-offset-2 font-semibold px-4 py-2 rounded-lg;
  font-size: clamp(1.075rem, 1.75vw, 1.5rem);
  @apply hover:bg-cyan-300;
}
nav {
  @apply border-b-2 border-b-cyan-600;
}

form {
  width: clamp(400px, 45vw, 600px);
  margin: 3rem auto;
  @apply border border-gray-500 p-6 rounded-md;
  height: clamp(400px, 60vh, 800px);
  min-height: 65vh;
}

.form-input {
  width: clamp(300px, 100%, 1400px);
  font-size: clamp(1rem, 1.875vw, 1.25rem);
  @apply border border-gray-500 py-1 px-2 rounded-sm;
}

.form-btn {
  @apply bg-cyan-500 hover:bg-cyan-600 text-white font-bold py-2 px-4 rounded cursor-pointer;
  font-size: clamp(1rem, 1.875vw, 1.25rem);
}

label {
  font-size: clamp(1.15rem, 2.1vw, 1.6rem);
}
form > h3 {
  font-size: clamp(1.875rem, 3.5vw, 2.5rem);
}
.error {
  @apply text-red-500 text-sm;
}
.homecard-text {
  font-size: clamp(1.15rem, 2.625vw, 2rem);
}
.homecard-text * a {
  @apply hover:text-cyan-800 hover:underline underline-offset-2;
}

.bmi-heading {
  font-size: clamp(1.75rem, 3.5vw, 2.75rem);
}

.activeTab {
  @apply bg-cyan-300 text-gray-900;
}

.weight {
  @apply border border-gray-500 rounded !w-[4rem] !h-[2rem] flex justify-center items-center;
}
.weight::placeholder {
  @apply flex items-center justify-center p-2;
}


select {
  @apply border border-gray-500 rounded;
}
.flex-center {
  @apply flex justify-center items-center;
}
.tab-btn {
  @apply cursor-pointer px-4 py-2;
}
.bmi-table-container {
  @apply border border-gray-500;
}
.bmi-table * tr, .bmi-table * th, .bmi-table * td {
  @apply border border-gray-500;
  font-size: clamp(1rem, 1.875vw, 1.25rem);
}
.bmi-table * th, .bmi-table * td {
  @apply p-3;
}

.bmi-h3 {
  font-size: clamp(1.275rem, 2.5vw, 2rem);
}
.bmi-btn {
  font-size: clamp(1.175rem, 2.25vw, 1.875rem);
}

.bmi-calc-btn {
  @apply bg-cyan-600 hover:bg-cyan-700 text-white font-bold py-2 px-4 rounded cursor-pointer;
  font-size: clamp(1rem, 1.875vw, 1.25rem);
}

.bmi-result {
  font-size: clamp(1.25rem, 2.5vw, 2rem);
}

.bmi-home-text {
  font-size: clamp(1.25rem, 2.5vw, 2rem);
}

.temp-conv-container {
  @apply flex flex-col md:flex-row p-8 md:p-16 items-center justify-center;
}
.temp-conv-form-container {
  width: clamp(400px, 75vw, 600px);
  height: clamp(360px, 45vh, 700px);
  @apply border border-gray-200 p-6 rounded-md;
  @apply flex items-center justify-center flex-col gap-5; 
  @apply bg-zinc-100 shadow-md shadow-gray-500; 
}
.temp-conv-input > input, .temp-conv-input > select {
  width: 10rem;
  font-size: clamp(1rem, 2.25vw, 1.75rem);
  @apply border border-zinc-600;
  @apply p-2 rounded-sm;
}
.temp-conv-input {
  @apply flex gap-4;
}
.temp-conv-btn > button {
  @apply bg-cyan-500 hover:bg-cyan-600 text-white font-bold py-2 px-4 rounded cursor-pointer shadow-sm shadow-cyan-900;
  font-size: clamp(1rem, 2.25vw, 1.75rem);
}
select {
  @apply cursor-pointer;
}
input:disabled {
  @apply cursor-not-allowed;
}

.calculators-h1, .converters-h1, .counters-h1 {
  font-size: clamp(1.75rem, 3.5vw, 2.75rem);
}
.calculators-p, .converters-p, .counters-p {
  font-size: clamp(1.125rem, 2vw, 1.75rem);
}
.calculators-list > ul > li, .converters-list > ul > li, .counters-list > ul > li {
  font-size: clamp(1rem, 2vw, 2rem);
  @apply hover:underline hover:underline-offset-2 hover:text-cyan-600;
}
.calculators-list > ul, .converters-list > ul, .counters-list > ul {
  list-style: circle;
  list-style-position: inside;
  margin-left: 1rem;
}
.emi-input {
  @apply border border-neutral-500 rounded;
}
.emi-btn {
  @apply bg-cyan-600 text-white px-4 py-2 rounded w-fit flex justify-center items-center cursor-pointer hover:bg-cyan-700;
}
.emi-form-container {
  @apply p-7 flex justify-start items-start flex-col gap-5;
  @apply border border-neutral-600 rounded-sm;
}
.emi-form-field {
  @apply flex items-start justify-start gap-5;
}
.emi-result {
  @apply text-cyan-900 font-bold;
  font-size: clamp(1.25rem, 2.5vw, 2rem);
}

.home-li {
  @apply underline underline-offset-2;
}

